body, section, header {
  background-color: #FFFFFF;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

section {
  background-color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 92.5%;
  margin-bottom: 20px;
  /* box-shadow: 0px 0px 5px #BBBBBB; */
}

header, figure.deepfry img {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  padding-bottom: 28px;
}

header {
  background-color: #892D4E;
  font-weight: 900;
  /* animation: 4s linear infinite headerGradient; */
  color: #FFFFFF;
}

section {
  margin-top: 20px;
}

h1, h2, h3, p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Urbanist", sans-serif;
  text-align: center;
  font-weight: 700;
}

h1, div.collection, p {
  font-size: 48px;
  margin-bottom: 0px;
}

h1, div.collection, figure.deepfry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

div.collection {
  justify-content: center;
  overflow-y: visible;
  align-items: stretch;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Urbanist";
  font-size: 64px;
}

p {
  font-weight: 300;
  font-size: 20px;
  font-family: "Urbanist", "Open Sans", sans-serif;
}

img.header-icon {
  display: inline;
  max-height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}

figure {
  width: 200px;
  min-width: 200px;
  min-height: 325px;
  background-color: #2F3460;
  border-radius: 15px;
  overflow: hidden;
  margin: 8px 8px 8px 8px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15), 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s cubic-bezier(0.17,0.84,0.44,1);;
  cursor: pointer;
  padding-bottom: 12px;
}

figure:hover {
  transform: scale(1.1, 1.1);
}

figure.project>img {
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

figure.project div.image-holder {
  position: relative;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 12px;
  overflow: hidden;
}

div.centerer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}

figure.project div.image-holder div img {
  transform: translate(-50%, -50%);
  max-height: 100%;
}

figure.project h3, figure.project p {
  margin-top: 2px;
}

figure.project h3 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 2px;
  line-height: 125%;
}

figure.project p {
  font-size: 12px;
  color: #F9F9F9;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 4px;
  text-align: left;
}

a {
  color: #fff53b;
}